.navbar {
    display: flex;
    align-items: center;
    /* text-align: center; */
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    /* padding: 2rem 0 7rem; */
    padding: 0rem 0 1rem;
    /* background-color: red; */
}

/* .navbar:hover nav {
    transform: translateY(0%);
} */

nav {
    /* transform: translateY(-150%); */
    transition: all 0.5s;
    padding: 0.3vmax 4vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    /* position: fixed; */
    font-size: 2vmax;
    margin: auto;
    width: auto;
    background-color: #ffffff25;
    /* border-radius: 50px; */
    border-radius: 0 0 4vmax 4vmax;
    border: 1px black;
    letter-spacing: 1px;
    box-shadow: inset 0 0 15px rgb(0, 0, 0);
}

.logo {
    text-decoration: none;
    font-size: 1em;
    padding: 0.5vmax;
    color: var(--txt-color);
    font-weight: 800;
    margin-right: 7rem;
}

.nav-links {
    font-size: 0.6em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* gap: 5rem; */
}

.nav-link {
    font-size: 1.1vmax;
    padding: 0 2rem;
    list-style: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-link.menu {
    display: none;
}

.nav-link li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vmax;
}

.nav-link li::after {
    content: "";
    position: absolute;
    transition: all 0.5s;
    left: 2vmax;
    bottom: -10%;
    height: 3px;
    width: 0%;
    background-color: var(--txt-color);
}

.nav-link li:hover::after {
    width: 70%;
}

/* .nav-link li:hover .nav-link li::after .nav-link span {
    font-size: 1em;
    color: white;
} */

.nav-link .material-symbols-outlined {
    font-size: 1.4em;
}

/* .nav-link:first-child span {
    color: var(--txt-color);
    font-size: 1.7em;
} */

.nav-link:hover .link-title {
    transform: scaleY(100%) translateY(50%);
}

.link-title {
    transform: scaleY(0) translateY(0%);
    transition: all 0.2s;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 15%;
    background-color: rgb(29, 29, 29);
    padding: 2px 5px;
    border-radius: 50px;
    color: white;
}

.ham-logo {
    display: none;
}

.lis {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:600px) {
    nav {
        padding: 0.5vmax 4vmax;
        transform: translateY(0%);
        position: relative;
        justify-content: center;
        width: auto;
    }

    .ham-logo {
        display: block;
        height: 1.6em;
    }

    .nav-links:hover .lis,
    .lis:hover {
        /* background-color: red; */
        display: block;
    }

    .ham-logo img {
        height: 100%;
        filter: invert(1);
    }

    .lis {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 10px;
        padding: 0 1.5vmax;
        backdrop-filter: blur(50px);
        background-color: #444444b7;
        box-shadow: inset 0 0 15px rgb(0, 0, 0);
    }

    .nav-links {
        /* position: absolute; */
        font-size: 0.9em;
        height: auto;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .nav-link li::after {
        display: none;
    }

    .nav-link {
        padding: 0 7px;
        position: sticky;
        top: 0;
        /* height: 0; */
        /* display: none; */
        /* visibility: hidden; */
        /* flex-direction: column; */
        /* position: absolute;
        top: 100%;
        right: -10%;
        gap: 1rem; */
    }

    .nav-link.menu {
        display: inline;
        padding-left: 20px;
    }

    .menu:hover .menu span {
        color: red;
        /* visibility: visible; */
        /* padding: 10rem; */
        /* display: block; */
    }

    /* .nav-link .nav-text {
        display: none;
    } */
}