.home {
    padding-top: 0rem;
    overflow: hidden;
}

.top-icon {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 0.3vmax 0.5vmax;
    line-height: 1;
    border-radius: 50px;
    border: 2px solid var(--txt-color);
    backdrop-filter: blur(5px);
    background-color: #ffc80031;
    text-decoration: none;
    z-index: 50;
}

.top-icon span {
    color: var(--txt-color);
    font-size: 2.5vmax;
    font-weight: 600;
}

section {
    height: auto;
    width: 100vw;
    font-size: 1vmax;
    padding: 2vmax 5vmax;
    display: flex;
    justify-content: center;
}

.sec-title {
    text-align: center;
    font-size: 3vmax;
    font-weight: 600;
    padding: 4vmax 2vmax 3vmax;
}

.sec-title::before,
.sec-title::after {
    font-family: monospace;
    padding: 1rem 1.5rem;
    font-weight: 300;
    color: var(--txt-color);
}

.sec-title::before {
    content: "<";
}

.sec-title::after {
    content: "/>";
}

.left-sec {
    width: 50%;
}

.right-sec {
    position: relative;
}

#arrow-follow {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    height: 10rem;
    width: 10rem;
    background-color: var(--txt-color);
}


/* intro */

.intro {
    padding-top: 4vmax;
}

.intro .left-sec {
    align-self: start;
    padding-top: 5rem;
}

.intro .right-sec {
    position: relative;
    text-align: center;
}

.my-img {
    height: 38vmax;
    z-index: 3;
    transition: all 0.5s;
}

.dev-logo {
    font-family: monospace;
    font-size: 24vw;
    font-weight: 900;
    position: absolute;
    width: auto;
    top: 30%;
    left: -10%;
    text-align: center;
    z-index: -1;
    color: black;
    transition: all 0.5s;
}

.intro-skills {
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.7;
    letter-spacing: 1px;
}

.intro-skl {
    padding: 0 10px;
    border-right: 2px solid var(--txt-color);
}

.intro-skl:first-child {
    padding-left: 0;
}

.intro-skl:last-child {
    border: none;
}

.intro .right-sec:hover .my-img {
    transform: translateY(-5%);
}

.intro .right-sec:hover .dev-logo {
    transform: translate(8%, 8%);
}

.intro .right-sec:hover .dev-logo:last-child {
    transform: translate(-8%, -8%);
}

.dev-logo:last-child {
    z-index: 5;
    color: rgba(0, 0, 0, 0.2);
    -webkit-text-stroke-color: var(--txt-color);
    -webkit-text-stroke-width: 4px;
}

.intro h1 {
    align-self: start;
    font-size: 3.4em;
}

.intro .greet {
    font-size: 2vmax;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: italic;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

h1 .name {
    padding: 1.1vmax 0 2vmax;
    color: var(--txt-color);
    font-size: 8vmax;
    line-height: 8vmax;
}

.intro .title {
    margin-top: 6vh;
    font-size: 2rem;
    font-weight: 700;
}

.mern {
    -webkit-text-stroke-color: var(--txt-color);
    -webkit-text-stroke-width: 1px;
    color: black;
}

@media(max-width:600px) {
    .intro .title {
        font-size: 1.5rem;
    }

    .dev-logo {
        font-size: 15vh;
        font-weight: 900;
        top: -55%;
        left: 55%;
    }

    .intro .my-img {
        transition: none;
        transform: none;
    }

    .intro-skills {
        font-size: 1.1em;
        width: 200%;
    }
}

/* about */

.about {
    text-align: center;
    flex-direction: column;
    height: auto;
}

.abt-content {
    padding: 1rem 5rem 0;
    font-size: 1.5vmax;
    letter-spacing: 2px;
    line-height: 2.5rem;
}

.abt-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmax;
    margin-top: 4vmax;
}

.abt-btns a {
    background-color: #ffc80031;
    border: 2px solid var(--txt-color);
    color: var(--txt-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.3vmax;
    padding: 0.7vmax;
    letter-spacing: 1px;
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
}

.abt-btns a:hover {
    background-color: var(--txt-color);
    color: black;
}

.view-resume {
    position: fixed;
    top: 1vmax;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1vmax 2vmax;
    height: 97vh;
    width: 100vmin;
    z-index: 100;
    transition: all 0.7s;
}

.view-resume .cross {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2em;
    padding: 0 0.5em;
    border-radius: 50%;
}

.dwnld-btn {
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    padding: 0.7vmax 1vmax;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.dwnld-btn a {
    text-decoration: none;
    color: inherit;
}

.dwnld-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: black;
    color: black;
}

.resume-img:hover .dwnld-btn {
    opacity: 1;
}

.resume-img {
    height: 100%;
    overflow: auto;
}

.resume-img .pdf {
    /* height: 100%; */
    width: 100%;
}

@media(max-width:600px) {

    .view-resume {
        top: 0;
        height: 100vh;
    }

    .resume-img {
        margin: auto;
        margin-top: 10%;
        height: 80%;
        width: 90vw;
    }

    .resume-img img {
        width: 100%;
        height: auto;
    }

    .dwnld-btn {
        opacity: 1;
        bottom: 30%;
    }

    section {
        flex-direction: column;
        height: auto;
    }

    .about {
        padding-top: 0;
    }

    .abt-content {
        padding: 1rem 1rem 0;
        letter-spacing: 2px;
        line-height: 1.5rem;
    }
}

/* skill-list */

.my-skill {
    display: block;
}

.my-skill .sec-title {
    text-align: center;
}

.skill-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 6vmax;
    margin-top: 3vmax;
}

.my-skill:hover .skills {
    transform: scale(1);
}

.skills {
    transform: scale(0);
    transition: all 0.5s;
    border: 2px solid var(--txt-color);
    border-radius: 0 2vmax 0 2vmax;
    width: calc(20% + 5rem);
    margin: 0 3vmax;
    position: relative;
    font-size: 1vmax;
    padding: 1.6vmax 2.5vmax 1vmax;
    background-color: rgba(248, 248, 248, 0.134);
}

.skl-title {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8vmax;
    background-color: black;
    border: 2px solid var(--txt-color);
    border-radius: 0 1vmax 0 1vmax;
    padding: 5px 10px;
}

.skl-content {
    display: flex;
    align-items: center;
    margin: 1vmax 0 1.4vmax;
}

.skl-logo {
    padding-right: 1vmax;
}

.skl-logo img {
    width: 3vmax;
}

.skl-name {
    font-size: 1.4em;
    padding-bottom: 10px;
}

.skl {
    display: flex;
    /* align-items: center; */
    position: relative;
    flex-direction: column;
    width: 100%;
}

.skl-bar {
    top: 80%;
    position: absolute;
    height: 0.4vmax;
    width: 100%;
    background-color: #fff;
}

.skl-prcnt {
    transition: all 0.5s;
    height: 100%;
    width: 0;
    position: relative;
    background-color: var(--txt-color);
}

.prcnt {
    position: absolute;
    right: -10%;
    top: 100%;
    font-weight: 600;
    color: #afafaf;
}

@media(max-width:600px) {
    .skills {
        padding: 1rem 2rem;
        transform: scaleX(1);
        width: 90%;
    }
}


/* Experience */

.experiences {
    flex-direction: column;
}

.expr-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0.4vmax;
    height: 0%;
    transition: all 3s;
    background-color: var(--txt-color);
}

.expr-list {
    position: relative;
}

.experience {
    transform: translate(70%);
    opacity: 0;
    width: 50%;
    text-align: right;
    position: relative;
    font-size: 1.1em;
    padding-right: 3vw;
    letter-spacing: 1px;
    transition: all 0.5s;
    margin-bottom: 7vw;
}

.expr-first {
    margin-top: 4vmax;
}

.experiences:hover .experience {
    transform: translate(0%);
    opacity: 1;
}

.experiences:hover .expr-line {
    height: 100%;
}

.experiences:hover .expr-title::after {
    width: 100%;
}

.experience:nth-child(odd) {
    transform: translate(-70%);
    margin-left: auto;
    text-align: left;
    padding-right: 0;
    padding-left: 3vw;
}

.experience::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    height: 2vmax;
    width: 2vmax;
    border-radius: 50px;
    border: 0.4vmax solid var(--txt-color);
    background-color: black;
}

.experience:nth-child(odd)::after {
    transform: translate(-50%, -50%);
    left: 0;
}

.expr-title::after {
    position: absolute;
    content: "";
    height: 0.4vmax;
    width: 0%;
    transition: all 2s ease-out;
    top: 0;
    right: 0;
    background-color: var(--txt-color);
}

.experience:nth-child(odd) .expr-title::after {
    left: 0;
}

.expr-maintitle {
    padding: 1vmax 2vmax;
    margin-bottom: 1vmax;
    background-color: #ffc8004b;
    border-radius: 0 0 3vmax 3vmax;
}

.expr-title {
    font-size: 1.8vmax;
    font-weight: 600;
}

.expr-title a {
    text-decoration: none;
    color: inherit;
}

.expr-title:hover {
    text-decoration: underline;
}

.expr-logo img {
    width: 2.5vmax;
    height: 2.5vmax;
    border-radius: 50%;
    margin-right: 1vmax;
    transform: translateY(20%);
}

.expr-role {
    font-size: 1.2em;
    font-weight: 600;
}

.position {
    margin: 1vmax 0;
}

.expr-desc {
    margin: 1.5vmax 0;
}

.expr-desc li::marker {
    color: var(--txt-color);
}

.expr-skills {
    margin-top: 1.2vw;
}

.expskill-title {
    font-weight: 600;
    font-size: 1.1em;
}

.exp-skill {
    display: inline-block;
    padding-left: 1.2vw;
}

.experience:nth-child(odd) .exp-skill {
    padding-right: 1.2vw;
    padding-left: 0;
}

.exp-skill img {
    height: 1.2em;
    padding-right: 0.5vw;
    transform: translateY(20%);
}

.expr-duration {
    opacity: 0.8;
    font-size: 0.95em;
}

@media(max-width:600px) {
    .experience {
        transform: translate(0%);
        opacity: 1;
    }

    .expr-line {
        height: 100%;
    }

    .expr-title::after {
        width: 100%;
    }

    .experience:nth-child(odd) {
        transform: translate(0%);
    }
}


/* Project */

.projects {
    flex-direction: column;
}

.proj-list {
    margin-top: 1rem;
}

.project {
    display: flex;
    justify-content: center;
    margin: 6vmax 0;
    gap: 3vmax;
    position: relative;
}

.project:first-child {
    margin-top: 1vmax;
}

.project:last-child {
    margin-bottom: 7vmax;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.proj-content,
.proj-img {
    transition: all 0.5s;
    width: 40%;
    padding: 1vmax 3vw;
}

.proj-img {
    padding: 0;
    transform: translateX(100%);
    align-self: center;
    opacity: 0;
}

.project:nth-child(even) .proj-img {
    transform: translateX(-100%);
}

.projects:hover .proj-img {
    transform: translateX(0);
    opacity: 1;
}

.projects:hover .proj-content {
    opacity: 1;
}

.proj-content {
    opacity: 0;
    border-left: 2px solid var(--txt-color);
    background: linear-gradient(-90deg, #02020200, #ffc80022, #ffc8005e);
    font-size: 1vmax;
}

.project:nth-child(even) .proj-content {
    border-right: 2px solid var(--txt-color);
    border-left: none;
    background: linear-gradient(90deg, #02020200, #ffc80022, #ffc8005e);
}


.proj-desc {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2vmax;
}

.proj-title {
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 1vmax;
}


.proj-img img {
    width: 100%;
}

.proj-btn {
    background-color: transparent;
    text-transform: uppercase;
    padding: 0.5vmax 1vmax;
    margin-top: 1.2vmax;
    margin-right: 1vmax;
    font-size: 1vmax;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid var(--txt-color);
    transition: all 0.5s;
}

.project:nth-child(even) .proj-btn {
    margin-right: 0;
    margin-left: 1vmax;
}

.proj-btn a {
    transition: all 0.5s;
    text-decoration: none;
    color: var(--txt-color);
    letter-spacing: 1px;
}

.proj-btn span {
    font-size: 1vmax;
    font-weight: 600;
}

.proj-btn:hover {
    background-color: var(--txt-color);
}

.proj-btn:hover a {
    color: black;
}

.proj-lang {
    font-size: 1.3em;
    margin: 1vmax 0 0.6vmax;
    color: #ffffff;
    letter-spacing: 1px;
}

@media(min-width:600px) {
    .project {
        margin: 11vmax 0;
    }

    .project::after {
        transform: scaleX(0);
        position: absolute;
        bottom: -30%;
        left: 10%;
        content: "";
        height: 3px;
        width: 80%;
        background: linear-gradient(90deg, black, #b58d00, black);
        background-color: var(--txt-color);
        transition: all 1s;
    }

    .projects:hover .project::after {
        transform: scaleX(1);
    }
}

@media(max-width:600px) {
    .project {
        flex-direction: column;
        border-left: 2px solid var(--txt-color);
        gap: 0;
    }

    .project:last-child {
        margin-bottom: 4vmax;
    }

    .project:nth-child(even) {
        border-left: none;
        border-right: 2px solid var(--txt-color);
    }

    .proj-title {
        font-size: 3em;
        font-weight: 600;
    }

    .proj-img,
    .proj-content {
        width: auto;
        padding: 3vw 0;
        padding-left: 4vw;
        border: none;
    }

    .project:nth-child(even) .proj-img,
    .project:nth-child(even) .proj-content {
        padding-left: 0;
        padding-right: 4vw;
    }

    .project:nth-child(even) .proj-content {
        border-right: none;
        background: linear-gradient(90deg, #02020200, #ffc80022, #ffc8005e);
    }


    .proj-img {
        transform: translateX(0);
        opacity: 1;
    }

    .proj-content {
        font-size: 0.7vmax;
        opacity: 1;
    }

    .proj-desc {
        font-weight: 500;
        font-size: 1.6em;
    }

    .project:nth-child(even) {
        flex-direction: column;
    }

    .project:nth-child(even) .proj-img {
        transform: translateX(0);
        border: none;
    }
}

/* Certification */

.certifications {
    flex-direction: column;
    position: relative;
}

.certifications:hover .certificate {
    transform: translateY(0) scale(1);
}

.certi-list {
    padding: 15vh 3vh 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9vmax 5vmax;
}

.certificate {
    transform: translateY(-100%) scale(0);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.certificate:hover .certi-title {
    top: 35%;
    height: auto;
}

.certi-crd {
    overflow: hidden;
    z-index: 1;
    height: calc(14vw + 4px);
    top: 0;
    left: 0;
    width: 20vw;
    position: absolute;
    border: 0.2vmax solid var(--txt-color);
}

.certi-crd .crti-num {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}

.certi-crd::before {
    position: absolute;
    content: "";
    top: -18%;
    left: -10%;
    height: 6vmax;
    width: 4vmax;
    background-color: var(--txt-color);
    transform: rotate(45deg);
}

.certi-img,
.certi-crd {
    transition: all 0.5s;
}

.certificate:hover .certi-img img {
    transform: scale(1.2);
}

.certi-img {
    overflow: hidden;
    position: relative;
    height: 14vw;
    width: 20vw;
    padding: 0.5vmax;
    text-align: center;
}

.certificate:hover .certi-img::after {
    bottom: 0;
}

.certi-img::after {
    transition: all 0.3s;
    position: absolute;
    bottom: -100%;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), black);
}

.certi-img img {
    object-fit: cover;
    height: 100%;
    transition: all 0.5s;
}

.certi-title {
    margin: 1vmax 0;
    padding: 1vmax;
    transition: all 0.5s;
    position: absolute;
    top: 90%;
    font-size: 1.3vmax;
    font-weight: 600;
    letter-spacing: 0.5px;
    z-index: 10;
    width: 100%;
}

@media(max-width:600px) {

    .certifications .sec-title {
        padding-left: 0;
        padding-right: 0;
    }

    .certificate {
        transform: none;
    }

    .certi-list {
        padding: 5vh 0 3vh;
        gap: 10vmax 2.5vmax;
    }

    .certi-title {
        top: 85%;
        font-size: 1.2vmax;
        font-weight: 600;
        height: 2.5vmax;
    }

    .certi-crd,
    .certi-img {
        height: 11vmax;
        width: 15vmax;
    }

    .certi-crd::before {
        position: absolute;
        content: "";
        top: -33%;
        left: -10%;
        height: 6vmax;
        width: 4vmax;
    }
}


/* contact */

.contact {
    flex-direction: column;
    justify-content: center;
    margin: 5vmax 0 3vmax;
}


@media(min-width:600px) {

    .contact:hover .cnt-bx1,
    .contact:hover .cnt-bx2 {
        transform: translateX(0);
    }

    .cnt-bx1 {
        transform: translateX(100%);
    }

    .cnt-bx2 {
        transform: translateX(-100%);
    }

}

.cnt-bx1,
.cnt-bx2 {
    transition: all 0.5s;
}

.contact-me {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2vmax 7vmax 1vmax;
}


.contact-content {
    overflow: hidden;
    width: 50%;
    height: 100%;
    padding: 3vmax;
    font-size: 1vmax;
    padding-right: 3vmax;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-btn {
    border: 2px solid var(--txt-color);
    color: white;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1vmax;
    padding: 0.7vmax 1vmax;
    letter-spacing: 1px;
    width: fit-content;
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    float: inline-end;
}

.mail-btn:hover {
    background-color: var(--txt-color);
    color: black;
}

.mail-btn img {
    margin-left: 1vmax;
    filter: invert(1);
    height: 1.5em;
}

.cnt-btns {
    width: 100%;
    padding-top: 1em;
}

.contacts {
    overflow: hidden;
    border-left: 3px solid var(--txt-color);
    padding-left: 3vmax;
    width: 50%;
    display: flex;
    align-items: center;
}

.cnt-title {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1vmax;
}

.cnt-desc {
    font-size: 1.2em;
}

.cnt-info {
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0.7vmax 1vmax;
    text-decoration: none;
    color: white;
}

.cnt-info:hover {
    text-decoration: underline;
}

.cnt-icon {
    padding: 0.5vmax 0;
    border: 3px solid #ad8800;
    border-radius: 1vmax 0 0 1vmax;
    height: 100%;
    width: 2.7em;
    text-align: center;
    font-weight: 700;
    font-size: 1.2vmax;
}

.cnt {
    border-radius: 0 1vmax 1vmax 0;
    font-size: 1.2vmax;
    padding: 0.6vmax 9px;
    width: 90%;
    background: linear-gradient(-90deg, #02020200, #5c4800, #ad8800);
}

.cnt-icon img {
    height: 1em;
    filter: invert(1);
}

.em {
    font-style: italic;
}

.cnt-bx2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media(max-width:600px) {
    .contact-me {
        flex-direction: column;
        padding: 0 7vmax;
    }

    .contact .sec-title {
        padding: inherit 0;
        padding-right: 0;
        padding-left: 0;
    }

    .contact-content {
        padding: 1vmax 0 2vmax;
        text-align: left;
        width: auto;
        border-bottom: 2px solid var(--txt-color);
    }

    .contacts {
        padding: 2vmax 0 1vmax;
        border: none;
        width: auto;
    }

    .cnt-info {
        margin-left: 0;
        margin-right: 0;
    }

    .cnt-icon {
        padding: 0.3vmax 0;
    }

    .mail-btn {
        float: inline-start;
    }
}